@import '../../styles/mixin';
@import '../../styles/variables';

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.capybara-dropdown {
    position: relative;
    display: inline-block;

    .list {
        position: absolute;
        left: 0;
        margin-top: 0rem;
        min-width: 100%;
        border-radius: 0.25rem;
        box-sizing: border-box;
        overflow: hidden;
        
        &.border {
            border: 1px solid $border-color;
        }

        @include preset-border;

        
        &.minimal {
            background-color: transparent;
            border-color: transparent;
        }
        
        &.outline {
            background-color: transparent;
        }

        &.shadow {
            box-shadow: 2.5px 2.5px 5px rgba(black, 0.25);
        }
    }
    
    .list-item {
        padding: 10px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-top: 1px solid $border-color;
        
        &:hover {
            background-color: rgba(black, 0.1);
        }
        @include preset-background;
        @include preset-hover-background;

        &.minimal {
            background-color: transparent;
        }
        
        &.outline {
            background-color: transparent;
        }
    }
}
