@import '../../styles/mixin';
@import '../../styles/variables';

.capybara-input {
    border: 1px solid $border-color;
    border-radius: 0.25rem;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    font-size: inherit;
    font-family: inherit;

    &:focus-visible {
        @include preset-border;
        @include preset-outline;
    }

    &[type=color] {
        padding: 0 2px;
        block-size: 37px;
        background-color: white;
        
    }
}