.capybara-image-text {
    font-size: 10vh;
    font-weight: 1000;
    background-size: cover;
    background-clip: text;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
}

.capybara-3d-text {
    font-weight: bolder;
}

.capybara-neon-text {

    --colorCode: violet;

    font-weight:100;
    color: white;
    animation: flicker 5s infinite ease;

    @keyframes flicker {
        100% {
            text-shadow:0 0 .1rem white,
                        0 0 .2rem white,
                        0 0 .3rem white,
                        0 0 1rem var(--colorCode),
                        0 0 1.25rem var(--colorCode);
        }

        75% {
            text-shadow:0 0 .125rem white,
                        0 0 .25rem white,
                        0 0 .5rem white,
                        0 0 1rem var(--colorCode),
                        0 0 1.5rem var(--colorCode),
                        0 0 2rem var(--colorCode),
                        0 0 4rem var(--colorCode);
        
        }
        
        0% {
            text-shadow:0 0 .1rem white,
                        0 0 .2rem white,
                        0 0 .3rem white,
                        0 0 1rem var(--colorCode),
                        0 0 1.25rem var(--colorCode);
        }
    }
}