.docs-container {
    height: 100%;
    display: flex;

    .side-bar {
        padding: 20px;
        width: 250px;
        font-size: 20px;
        border-right: 3px solid rgba(0,0,0,0.05);
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            a {
                color: rgba(0,0,0,0.3);
                font-weight: bold;
                text-decoration: none;
            }

            :hover {
                color: rgba(0,0,0,0.7);
            }

            .active {
                color: rgba(0,0,0,1);
                text-decoration: underline;
            }
        }
    }

    .content {
        flex-grow:1;
    }
}

.title {
    font-size: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.interactive-section {
    display: flex;
    .controller {
        padding: 10px;
        min-width: 50%;
    }

    .result {
        padding: 10px;
        flex-grow:1;
        background-color: rgba(0,0,0,0.05);
        display: flex;
        justify-content: center;
        align-items: center;
    }

}