@import '../../styles/mixin';

.capybara-select {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid rgba(black, 0.1);
    border-radius: 0.25rem;
    position: relative;
    width: 100%;
    box-sizing: border-box;

    &.active {
        @include preset-border;
    }

    .selected-value {
        min-width: 0;
        text-overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        margin-right: 0.25rem;
        margin-left: 0.5rem;

        .placeholder {
            color: rgba(0,0,0,0.5);
        }

        .value-wrapper {
            display: flex;
            align-items: center;
        }

        .icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.75rem;
            aspect-ratio: 1;
            border-radius: 50%;
            opacity: 0.5;
            cursor: pointer;
            position: relative;
            overflow: hidden;

            &:hover {
                background-color: rgba(black, 0.1);
                opacity: 1;
            }


        }
    }
    
    .select-dropdown-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        border-left: 1px solid rgba(lightgray, 0.5);
        color: rgba(0,0,0,0.5);
        &:hover {
            color: rgba(0,0,0);
        }
    }

}

.capybara-options {
    position: absolute;
    z-index: 10;
    left: 0;
    top:100%;
    margin-top: 0.15rem;
    min-width: 100%;
    border-radius: 0.25rem;
    background-color: white;
    box-shadow: 0px 2.5px 2.5px rgba(black, 0.25);
    border: 1px solid rgba(black, 0.1);
    box-sizing: border-box;
    @include preset-border;
    
    .option {
        padding: 0.5rem;
    
        @include preset-hover-background;
    }
}
