@import '../../styles/mixin';

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.capybara-dropdown {
    position: relative;
    display: inline-block;

    .menu {
        position: absolute;
        left: 0;
        margin-top: 0rem;
        min-width: 100%;
        border-radius: 0.25rem;
        box-shadow: 2.5px 2.5px 5px rgba(black, 0.25);
        overflow: hidden;     
    }
    
    .menu-item {
        padding: 10px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        
        &:hover {
            background-color: rgba(black, 0.1);
            font-weight: bold;
        }

        @include preset-background;
        @include preset-hover-background;
    }
}
